@model projetASP.Models.Etudiant
@{
                /**/


                Layout = "~/Views/Shared/_LayoutEtudiant.cshtml";
              

}
@Styles.Render("../Content/css/Modification.css")

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
<head>
    <link rel="stylesheet" media="screen" type="text/html" title="style" href="http://wikeinfo.u7n.org/style.css" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

</head>
<body>
    <div class="content ">
        <div class="container-fluid col-md-12 col-sm-12">
            <div class="row">
                <div class="col-md-8 " style="margin:auto;">



                    <h2 id="header_5" class="form-header" data-component="header">
                        Modification des Informations Personnelles
                    </h2>
                    <div class="card">
                        @using (Html.BeginForm("Modification", "Etudiant", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {

                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.cne)
                            <div role="main" class="form-all">

                                <ul class="form-section page-section">
                                    <li id="cid_5" class="form-input-wide" data-type="control_head">

                                        <div style="display:table;width:100%">
                                            <div class="form-header-group hasImage header-default" data-imagealign="Left">
                                                <div class="header-logo">
                                                    @if (@Model.photo_link != null)
                                                    {
                                                        <img src="~/Image/@Model.photo_link" alt="" width="200" height="200" class="header-logo-left" />
                                                    }
                                                    else
                                                    {
                                                        <img src="~/Content/img/login.png" alt="" width="200" ,height="200" class="header-logo-left" />
                                                    }

                                                </div>
                     
                                                <a class="fas fa-edit" href="#Edit" style="color:white"></a>
                                                <div id="Edit" class="Ed">
                                                    <input type="file" name="ImageFile" style="color:white;" />
                                                    <input type="submit" class="btn btn-warning" name="Update" value="Upload" id="mod" />

                                                </div>
                                                <label class="text-danger">
                                                    @ViewBag.err
                                                </label>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="form-line" data-type="control_fullname" id="id_3">
                                        <label class="form-label  form-label-auto" id="label_3" for="first_3"> Nom complet :</label>
                                        <div id="cid_3" class="form-input-wide">
                                            <div data-wrapper-react="true">
                                                <span class="form-sub-label-container " style="vertical-align:top" data-input-type="first">
                                                    @Model.nom

                                                </span>
                                                <span class="form-sub-label-container " style="vertical-align:top" data-input-type="last">
                                                    @Model.prenom

                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="form-line" data-type="control_calculation" id="id_12">
                                        <label class="form-label  form-label-auto" id="label_12" for="input_12"> CIN (Carte d'identit&eacute Nationale) :</label>
                                        <div id="cid_12" class="form-input-wide">
                                            @Model.cin
                                        </div>
                                    </li>
                                    <li class="form-line" data-type="control_calculation" id="id_15">
                                        <label class="form-label  form-label-auto" id="label_15" for="input_15"> CNE(Code Nationale d'&Eacutetudiant) :</label>
                                        <div id="cid_15" class="form-input-wide">
                                            @Model.cne
                                        </div>
                                    </li>
                                    <li class="form-line" data-type="control_calculation" id="id_15">
                                        <label class="form-label  form-label-auto" id="label_15" for="input_15"> Date de Naissance : </label>
                                        <div id="cid_17" class="form-input-wide">
                                            @Html.EditorFor(model => model.dateNaiss, new { htmlAttributes = new { @class = "form-control", datetime_picker = true } })
                                            @Html.ValidationMessageFor(model => model.dateNaiss, "", new { @class = "text-danger" })
                                            <label class="form-sub-label" for="input_7" id="sublabel_input_7" style="min-height:13px" aria-hidden="false"> yyyy/mm/dd </label>
                                        </div>
                                    </li>
                                    <li class="form-line" data-type="control_calculation" id="id_18">
                                        <label class="form-label  form-label-auto" id="label_18" for="input_18"> Lieu de Naissance :</label>
                                        <div id="cid_18" class="form-input-wide">
                                            @Html.EditorFor(model => model.lieuNaiss, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.lieuNaiss, "", new { @class = "text-danger" })
                                        </div>
                                    </li>
                                    <li class="form-line" data-type="control_calculation" id="id_19">
                                        <label class="form-label  form-label-auto" id="label_19" for="input_19"> Nationalit&eacute :</label>
                                        <div id="cid_19" class="form-input-wide">
                                            @Html.EditorFor(model => model.nationalite, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.nationalite, "", new { @class = "text-danger" })
                                        </div>
                                    </li>
                                    <li class="form-line" data-type="control_calculation" id="id_19">
                                        <label class="form-label  form-label-auto" id="label_19" for="input_19">Num&eacutero de T&eacutel&eacutephone :</label>
                                        <div class="form-input-wide">
                                            @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control", type = "number", } })
                                            @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                                        </div>
                                    </li>
                                    <li class="form-line" data-type="control_calculation">
                                        <label class="form-label  form-label-auto" for="input_19"> GSM :</label>
                                        <div class="form-input-wide">
                                            @Html.EditorFor(model => model.gsm, new { htmlAttributes = new { @class = "form-control", type = "number" } })
                                            @Html.ValidationMessageFor(model => model.gsm, "", new { @class = "text-danger" })
                                        </div>
                                    </li>
                                    <li class="form-line" data-type="control_email" id="id_7">
                                        <label class="form-label form-label-auto" id="label_7" for="input_7"> Email :</label>
                                        <div class="form-input-wide">
                                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", type = "email" } })
                                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                            <label class="form-sub-label" for="input_7" id="sublabel_input_7" style="min-height:13px" aria-hidden="false"> example@example.com </label>
                                        </div>
                                    </li>
                                    <li class="form-line" data-type="control_email" id="id_7">
                                        <label class="form-label form-label-auto" id="label_7" for="input_7"> Adresse :</label>
                                        <div class="form-input-wide">
                                            @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control", } })
                                            @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                                            <label class="form-sub-label" for="input_7" id="sublabel_input_7" style="min-height:13px" aria-hidden="false"> Adresse de rue :</label>
                                        </div>
                                    </li>
                                    <li class="form-line" data-type="control_email" id="id_7">
                                        <div class="form-input-wide">
                                            @Html.EditorFor(model => model.ville, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ville, "", new { @class = "text-danger" })
                                            <label class="form-sub-label" for="input_7" id="sublabel_input_7" style="min-height:13px" aria-hidden="false"> La ville </label>
                                        </div>
                                    </li>
                                    @{
                                        if (Model.Choix != null)
                                        {



                                            <li class="form-line" data-type="control_matrix" id="id_1">
                                                <label class="form-label form-label-top" id="label_1" for="input_1"> Choix de Fili&egravere :</label>
                                                <div id="cid_1" class="form-input-wide ">
                                                    <table summary="" role="presentation" cellPadding="4" cellSpacing="0" class="form-matrix-table " data-component="matrix">
                                                        <tbody>
                                                            <tr>
                                                                <th style="border:none; width: 350px;">
                                                                </th>
                                                                <th scope="col" class="form-matrix-column-headers form-matrix-column_0">
                                                                    <label id="label_1_col_0"> 1&egravere Choix </label>
                                                                </th>
                                                                <th scope="col" class="form-matrix-column-headers form-matrix-column_1">
                                                                    <label id="label_1_col_1"> 2&egraveme choix </label>
                                                                </th>
                                                                <th scope="col" class="form-matrix-column-headers form-matrix-column_2">
                                                                    <label id="label_1_col_2"> 3&egraveme Choix </label>
                                                                </th>
                                                            </tr>
                                                            <tr role="group" aria-labelledby="label_1 label_1_row_0">
                                                                <th scope="row" style="text-align:left" class="form-matrix-row-headers">
                                                                    <label id="label_1_row_0"> G&eacutenie Informatique </label>
                                                                </th>
                                                                <td style="text-align:center" class="form-matrix-values">
                                                                    <input id="F1" type="radio" name="choix1" value="F" onClick=desactivefilieres() @(Model.Choix.Substring(0, 1) == "F" ? "Checked" : "") required=required />
                                                                </td>
                                                                <td style="text-align:center" class="form-matrix-values">
                                                                    <input id="F2" type="radio" name="choix2" value="F" onClick=desactivefilieres() @(Model.Choix.Substring(1, 1) == "F" ? "Checked" : "") required=required />

                                                                </td>
                                                                <td style="text-align:center" class="form-matrix-values">
                                                                    <input id="F3" type="radio" name="choix3" value="F" onClick=desactivefilieres() @(Model.Choix.Substring(2, 1) == "F" ? "Checked" : "") required=required />
                                                                </td>
                                                            </tr>
                                                            <tr role="group" aria-labelledby="label_1 label_1_row_1">
                                                                <th scope="row" style="text-align:left" class="form-matrix-row-headers">
                                                                    <label id="label_1_row_1"> G&eacutenie T&eacutel&eacutecommunication et R&eacuteseaux </label>
                                                                </th>
                                                                <td style="text-align:center" class="form-matrix-values">
                                                                    <input id="T1" type="radio" name="choix1" value="T" onClick=desactivefilieres() @(Model.Choix.Substring(0, 1) == "T" ? "Checked" : "") required=required />
                                                                </td>
                                                                <td style="text-align:center" class="form-matrix-values">
                                                                    <input id="T2" type="radio" name="choix2" value="T" onClick=desactivefilieres() @(Model.Choix.Substring(1, 1) == "T" ? "Checked" : "") required=required />
                                                                </td>
                                                                <td style="text-align:center" class="form-matrix-values">
                                                                    <input id="T3" type="radio" name="choix3" value="T" onClick=desactivefilieres() @(Model.Choix.Substring(2, 1) == "T" ? "Checked" : "") required=required />
                                                                </td>
                                                            </tr>
                                                            <tr role="group" aria-labelledby="label_1 label_1_row_2">
                                                                <th scope="row" style="text-align:left" class="form-matrix-row-headers">
                                                                    <label id="label_1_row_2"> G&eacutenie Indusielle </label>
                                                                </th>
                                                                <td style="text-align:center" class="form-matrix-values">
                                                                    <input id="D1" type="radio" name="choix1" value="D" onClick=desactivefilieres() @(Model.Choix.Substring(0, 1) == "D" ? "Checked" : "") required=required />
                                                                </td>
                                                                <td style="text-align:center" class="form-matrix-values">
                                                                    <input id="D2" type="radio" name="choix2" value="D" onClick=desactivefilieres() @(Model.Choix.Substring(1, 1) == "D" ? "Checked" : "") required=required />
                                                                </td>
                                                                <td style="text-align:center" class="form-matrix-values">
                                                                    <input id="D3" type="radio" name="choix3" value="D" onClick=desactivefilieres() @(Model.Choix.Substring(2, 1) == "D" ? "Checked" : "") required=required />
                                                                </td>
                                                            </tr>
                                                            <tr role="group" aria-labelledby="label_1 label_1_row_3">
                                                                <th scope="row" style="text-align:left" class="form-matrix-row-headers">
                                                                    <label id="label_1_row_3"> G&eacutenie Proc&eacuted&eacute et M.C </label>
                                                                </th>
                                                                <td style="text-align:center" class="form-matrix-values">
                                                                    <input id="P1" type="radio" name="choix1" value="P" onClick=desactivefilieres() @(Model.Choix.Substring(0, 1) == "P" ? "Checked" : "") required=required />
                                                                </td>
                                                                <td style="text-align:center" class="form-matrix-values">
                                                                    <input id="P2" type="radio" name="choix2" value="P" onClick=desactivefilieres() @(Model.Choix.Substring(1, 1) == "P" ? "Checked" : "") required=required />
                                                                </td>
                                                                <td style="text-align:center" class="form-matrix-values">
                                                                    <input id="P3" type="radio" name="choix3" value="P" onClick=desactivefilieres() @(Model.Choix.Substring(2, 1) == "P" ? "Checked" : "") required=required />
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </li>

                                        }
                                    }
                                    <li class="form-line" data-type="control_button" id="id_2">
                                        <div id="cid_2" class="form-input-wide">
                                            <div style="margin-left:250px" data-align="auto" class="form-buttons-wrapper ">
                                                <button id="input_2" name="Update" type="submit" class="form-submit-button form-submit-button-simple_black" data-component="button" data-content="">
                                                    Modifier
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>

                        }

                    </div>
                 
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer" style="background-color:black">
        <div class="copyright-tag" style="text-align:center">Copyright © 2020 ENSA. All Rights Reserved.</div>
    </div>
</body>
</html>
@Scripts.Render("~/Scripts/EtudiantScript.js")