@model ProjetASPCore.Models.Etudiant

<div class="content ">
    <div class="container-fluid col-md-12 col-sm-12">
        <div class="row">
            <div class="col-md-8 " style="margin:auto;">
                <div class="row">
                    <div class="col-md-3">
                        <img src=" @Model.photo_link" alt="" width="200" ,height="200" class="header-logo-left" />
                    
                    </div>
                    <div class="col-md">
                        <h2 id="header_5" class="form-header" data-component="header">
                            Modification des Informations Personnelles de
                            <p> @Model.nom @Model.prenom </p>
                        </h2>
                    </div>

                </div>
   
                <form asp-action="Modification" enctype="multipart/form-data">
                    <div id="Edit" class="Ed">
                        <input type="hidden" asp-for="photo_link" />
                        <input type="hidden" asp-for="Choix" />
                        <input type="file" name="file" style="color:black;" />
                        <input type="submit" class="btn btn-default" name="Upload" value="Upload" id="mod" />

                    </div>
                    <p> <span asp-validation-for="photo_link" class="text-danger">@ViewBag.err</span></p>
                    <div class="card" style="padding:4em">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">


                            <label asp-for="cne" class="control-label"></label>
                            <input asp-for="cne" class="form-control" readonly />

                            <span asp-validation-for="cne" class="text-danger"></span>


                        </div>
                        <div class="form-group">

                            <label asp-for="cin" class="control-label"></label>
                            <input asp-for="cin" class="form-control" readonly />
                            <span asp-validation-for="cin" class="text-danger"></span>

                        </div>
                        <div class="form-group">

                            <label asp-for="nom" class="control-label"></label>
                            <input asp-for="nom" class="form-control" readonly />
                            <span asp-validation-for="nom" class="text-danger"></span>
                        </div>
                        <div class="form-group">

                            <label asp-for="prenom" class="control-label"></label>
                            <input asp-for="prenom" class="form-control" readonly />
                            <span asp-validation-for="prenom" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="hidden" asp-for="cne" />
                            <label asp-for="nationalite" class="control-label"></label>
                            <input asp-for="nationalite" class="form-control" />
                            <span asp-validation-for="nationalite" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="email" class="control-label"></label>
                            <input asp-for="email" class="form-control" />
                            <span asp-validation-for="email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="phone" class="control-label"></label>
                            <input asp-for="phone" class="form-control" />
                            <span asp-validation-for="phone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="gsm" class="control-label"></label>
                            <input asp-for="gsm" class="form-control" />
                            <span asp-validation-for="gsm" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="address" class="control-label"></label>
                            <input asp-for="address" class="form-control" />
                            <span asp-validation-for="address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ville" class="control-label"></label>
                            <input asp-for="ville" class="form-control" />
                            <span asp-validation-for="ville" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="dateNaiss" class="control-label"> Date de naissance</label>
                            <input id="date" type="datetime" asp-for="dateNaiss" asp-format="{0:dd/MM/yyyy}" class="form-control" />
                            <span asp-validation-for="dateNaiss" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="lieuNaiss" class="control-label">lieu de Naissance </label>
                            <input asp-for="lieuNaiss" class="form-control" />
                            <span asp-validation-for="lieuNaiss" class="text-danger"></span>
                        </div>



                       

                        @{
                            if (Model.Choix.Length==3)
                            {
                                <ul class="form-section page-section">

                                    <li class="form-line" data-type="control_matrix" id="id_1">
                                        <label class="form-label form-label-top" id="label_1" for="input_1"> Choix de Fili&egravere :</label>
                                        <div id="cid_1" class="form-input-wide ">
                                            <table summary="" role="presentation" cellPadding="4" cellSpacing="0" class="form-matrix-table " data-component="matrix">
                                                <tbody>
                                                    <tr>
                                                        <th style="border:none; width: 350px;">
                                                        </th>
                                                        <th scope="col" class="form-matrix-column-headers form-matrix-column_0">
                                                            <label id="label_1_col_0"> 1&egravere Choix </label>
                                                        </th>
                                                        <th scope="col" class="form-matrix-column-headers form-matrix-column_1">
                                                            <label id="label_1_col_1"> 2&egraveme choix </label>
                                                        </th>
                                                        <th scope="col" class="form-matrix-column-headers form-matrix-column_2">
                                                            <label id="label_1_col_2"> 3&egraveme Choix </label>
                                                        </th>
                                                    </tr>
                                                    <tr role="group" aria-labelledby="label_1 label_1_row_0">
                                                        <th scope="row" style="text-align:left" class="form-matrix-row-headers">
                                                            <label id="label_1_row_0"> G&eacutenie Informatique </label>
                                                        </th>
                                                        <td style="text-align:center" class="form-matrix-values">
                                                            <input id="F1" type="radio" name="choix1" value="F" onClick=desactivefilieres() @(Model.Choix.Substring(0, 1) == "F" ? "Checked" : "") required=required />
                                                        </td>
                                                        <td style="text-align:center" class="form-matrix-values">
                                                            <input id="F2" type="radio" name="choix2" value="F" onClick=desactivefilieres() @(Model.Choix.Substring(1, 1) == "F" ? "Checked" : "") required=required />

                                                        </td>
                                                        <td style="text-align:center" class="form-matrix-values">
                                                            <input id="F3" type="radio" name="choix3" value="F" onClick=desactivefilieres() @(Model.Choix.Substring(2, 1) == "F" ? "Checked" : "") required=required />
                                                        </td>
                                                    </tr>
                                                    <tr role="group" aria-labelledby="label_1 label_1_row_1">
                                                        <th scope="row" style="text-align:left" class="form-matrix-row-headers">
                                                            <label id="label_1_row_1"> G&eacutenie T&eacutel&eacutecommunication et R&eacuteseaux </label>
                                                        </th>
                                                        <td style="text-align:center" class="form-matrix-values">
                                                            <input id="T1" type="radio" name="choix1" value="T" onClick=desactivefilieres() @(Model.Choix.Substring(0, 1) == "T" ? "Checked" : "") required=required />
                                                        </td>
                                                        <td style="text-align:center" class="form-matrix-values">
                                                            <input id="T2" type="radio" name="choix2" value="T" onClick=desactivefilieres() @(Model.Choix.Substring(1, 1) == "T" ? "Checked" : "") required=required />
                                                        </td>
                                                        <td style="text-align:center" class="form-matrix-values">
                                                            <input id="T3" type="radio" name="choix3" value="T" onClick=desactivefilieres() @(Model.Choix.Substring(2, 1) == "T" ? "Checked" : "") required=required />
                                                        </td>
                                                    </tr>
                                                    <tr role="group" aria-labelledby="label_1 label_1_row_2">
                                                        <th scope="row" style="text-align:left" class="form-matrix-row-headers">
                                                            <label id="label_1_row_2"> G&eacutenie Indusielle </label>
                                                        </th>
                                                        <td style="text-align:center" class="form-matrix-values">
                                                            <input id="D1" type="radio" name="choix1" value="D" onClick=desactivefilieres() @(Model.Choix.Substring(0, 1) == "D" ? "Checked" : "") required=required />
                                                        </td>
                                                        <td style="text-align:center" class="form-matrix-values">
                                                            <input id="D2" type="radio" name="choix2" value="D" onClick=desactivefilieres() @(Model.Choix.Substring(1, 1) == "D" ? "Checked" : "") required=required />
                                                        </td>
                                                        <td style="text-align:center" class="form-matrix-values">
                                                            <input id="D3" type="radio" name="choix3" value="D" onClick=desactivefilieres() @(Model.Choix.Substring(2, 1) == "D" ? "Checked" : "") required=required />
                                                        </td>
                                                    </tr>
                                                    <tr role="group" aria-labelledby="label_1 label_1_row_3">
                                                        <th scope="row" style="text-align:left" class="form-matrix-row-headers">
                                                            <label id="label_1_row_3"> G&eacutenie Proc&eacuted&eacute et M.C </label>
                                                        </th>
                                                        <td style="text-align:center" class="form-matrix-values">
                                                            <input id="P1" type="radio" name="choix1" value="P" onClick=desactivefilieres() @(Model.Choix.Substring(0, 1) == "P" ? "Checked" : "") required=required />
                                                        </td>
                                                        <td style="text-align:center" class="form-matrix-values">
                                                            <input id="P2" type="radio" name="choix2" value="P" onClick=desactivefilieres() @(Model.Choix.Substring(1, 1) == "P" ? "Checked" : "") required=required />
                                                        </td>
                                                        <td style="text-align:center" class="form-matrix-values">
                                                            <input id="P3" type="radio" name="choix3" value="P" onClick=desactivefilieres() @(Model.Choix.Substring(2, 1) == "P" ? "Checked" : "") required=required />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>
                                </ul>
                            }
                        }

                        <div class="form-group">
                            <input type="submit" name="Upload" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                    
               
          </form>

                 
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    


