
@model IEnumerable<projetASP.Models.Etudiant>
<style>
  
    td {
        color: black;
    }
    th{
        color:black;
    }
    
 
</style>

<body style="background-color:white">
    <div class="card">
        <div class="header-logo">
            <img src="~/Content/img/ensa.jpg" width="200" height="100" style="float:left" />
            <img src="~/Content/img/images.png" width="392" height="100" style="position:relative; left:30px" />
            <img src="~/Content/img/uca.jpg" width="200" height="100" style="float:right" />

        </div>
        <br /><br /><br />



                    <table class="table table-bordered print-friendly">

                        <tr>

                            <th>
                                @Html.DisplayNameFor(Model => Model.cin)
                            </th>
                            <th>
                                @Html.DisplayNameFor(Model => Model.cne)
                            </th>
                            <th>
                                @Html.DisplayNameFor(Model => Model.email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(Model => Model.phone)
                            </th>
                        </tr>



                            @if (Model == null)
                            {

                            }
                            else
                            {

                                foreach (var item in Model)
                                {
                                    if (!item.Redoubler)
                                    {
                                        <tr>

                                            <td>

                                                @Html.DisplayFor(modelItem => item.cne)

                                            </td>
                                            <td>

                                                @Html.DisplayFor(modelItem => item.cin)

                                            </td>
                                            <td>

                                                @Html.DisplayFor(modelItem => item.email, new { @class = "lien" })

                                            </td>
                                            <td>

                                                @Html.DisplayFor(modelItem => item.phone)

                                            </td>
                                        </tr>

                                    }
                                }
                            }

                      

                    </table>
 </div>



</body>